body{
    font-family: 'montserrat';
    text-align: center;
    
}

#title{
    
    text-align: left;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'montserrat';
    font-weight: 900;
}
p{
    color: #8f8f8f;
}

.big-heading{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight:900;
    
}


.container-fluid{
    padding:3% 15% 11%;    
}
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size: 1.25rem;
    font-family: 'Montserrat';
}

.btn{
    margin:5% 3% 5% 0;
}




.title-image{
    width: 24%;
    transform: rotate(25deg);
    position: absolute;
    right:24%


}
#features{
    padding: 7% 15%;
    background-color: #FFF;
    position:relative;
    z-index: 1;
}

.features-text{
    font-size: 1.5rem;
}

.features-box{
    
    padding: 1%;    
}

.icon{
    padding-bottom: 20px;
    color: #ef8172;
}
.icon:hover{
    color: #ff4c68;
}


.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item{
    padding:7% 15%;
}



.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    
    
    padding:3%;
}

.press-logo{
    width:15%;
    margin:20px 20px 50px 20px;
}

#pricing{
    padding: 100px;
    
}

.pricing-col{
    padding:3% 2%;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

@media(max-width:1050px){
    .title-image{
        position: static;
        transform: rotate(0);
        width:60%;
    }
    #title{
        text-align: center;
    }
}


   #footer{
       
       padding: 100px 5px 100px 5px ;
          }

.social{
    
    padding: 0 0 5px 0;
}





.last{
    padding-top: 20px;
}

.first{
    padding:0 8px;
}

.c-section{
    background-color: #ff4c68;
    color: #FFF;
}

.w-section{
    background-color: #FFF;
    }

    #testimonials.c-section,#press.c-section {
    background-color:#ef8172 ;
}    